body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0;
	padding: 0;
}

.channelbtn {
	font-size: 14px;
	font-family: monospace;
	color: #fff;
	background: linear-gradient(to left, #1E9600, #FFF200, #FF0000);
	text-decoration: none;
	padding: 20px 70px;
	border-radius: 10px;
	background-size: 200%;
	transition: .5s;
}

.channelbtn:hover {
	background-position: right;
}

.triplexbtn {
	font-size: 14px;
	font-family: monospace;
	color: #fff;
	background: linear-gradient(to left, #b92b27, #1565C0);
	text-decoration: none;
	padding: 20px 70px;
	border-radius: 10px;
	background-size: 200%;
	transition: .5s;
}

.triplexbtn:hover {
	background-position: right;
}

.contactbtn {
	font-size: 14px;
	font-family: monospace;
	color: #fff;
	background: linear-gradient(to left, #1E9600, #FFF200, #FF0000);
	text-decoration: none;
	padding: 20px 70px;
	border-radius: 10px;
	background-size: 200%;
	transition: .5s;
}

.contactbtn:hover {
	background-position: right;
}

.discordbtn {
	font-size: 24px;
	font-family: monospace;
	color: #fff;
	background: linear-gradient(to left, #c31432, #240b36);
	text-decoration: none;
	padding: 20px 437px;
	border-radius: 10px;
	background-size: 200%;
	transition: .5s;
}

.discordbtn:hover {
	background-position: right;
}

.execbtn {
	font-size: 24px;
	font-family: monospace;
	color: #fff;
	background: linear-gradient(to left, #c21500, #ffc500);
	text-decoration: none;
	padding: 20px 426px;
	border-radius: 10px;
	background-size: 200%;
	transition: .5s;
}

.execbtn:hover {
	background-position: right;
}