body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0;
	padding: 0;
}

.krnlbtn {
	font-size: 14px;
	font-family: monospace;
	color: #fff;
	background: linear-gradient(to left, #833ab4, #fd1d1d, #fcb045);
	text-decoration: none;
	padding: 20px 70px;
	border-radius: 10px;
	background-size: 200%;
	transition: .5s;
}

.krnlbtn:hover {
	background-position: right;
}


.cocozbtn {
	font-size: 14px;
	font-family: monospace;
	color: #fff;
	background: linear-gradient(to left, #59C173, #a17fe0, #fcb045);
	text-decoration: none;
	padding: 20px 117px;
	border-radius: 10px;
	background-size: 200%;
	transition: .5s;
}

.cocozbtn:hover {
	background-position: right;
}

.backbtn {
	font-size: 14px;
	font-family: monospace;
	color: #fff;
	background: linear-gradient(to left, #536976, #292E49);
	text-decoration: none;
	padding: 20px 117px;
	border-radius: 10px;
	background-size: 200%;
	transition: .5s;
}

.backbtn:hover {
	background-position: right;
}
